.container {
	max-width: 120rem; // if vw is less than 1200px, occupy 100% width, else 1200px
	margin: 8rem auto; // center inside body element
	background-color: var(--color-grey-light-2);
	box-shadow: var(--shadow-dark);

	min-height: 50rem;
}

.header {
	font-size: 1.6rem;
	height: 7rem;
	background-color: #fff;
	border-bottom: var(--color-grey-light-2);

	display: flex; // parent
	justify-content: space-between; // children alligned along main axis
	align-items: center; // children centered along cross axis 
}

// parent(container) for flexbox
.content {
	display: flex;
}

.sidebar {
	background-color: var(--color-grey-dark-1);

	flex: 0 0 18%; // don't grow  don't shrink  have 18% width

	display: flex; // parent container
	flex-direction: column; // main axis is now Y-axis
	justify-content: space-between; // divide all space between children
}

.hotel-view {
	height: 80rem;
	

	flex: 1; // grow as much as it can
}