.container {
	max-width: 120rem; // if vw is less than 1200px, occupy 100% width, else 1200px
	margin: 8rem auto; // center inside body element
	background-color: var(--color-grey-light-2);
	box-shadow: var(--shadow-dark);

	//min-height: 50rem; //for testing purpose only

	@media only screen and (max-width: $bp-largest) {
		margin: 0; // remove pink gradient bg
		max-width: 100%;
		//width: 100%;
	} 
}

.header {
	font-size: 1.6rem;
	height: 7rem;
	background-color: #fff;
	border-bottom: var(--line);
	display: flex; // parent
	justify-content: space-between; // children alligned along main axis
	align-items: center; // children centered along cross axis 

	@media only screen and (max-width: $bp-smallest) {
		flex-wrap: wrap;
		height: 11rem;
		justify-content: space-around;
	}
}


.content {
	display: flex; // parent(container) for flexbox
	background: #fff;

	@media only screen and (max-width: $bp-medium) {
		flex-direction: column; // to bring side-nav on top of hotel view
	} 
}

.sidebar {
	background-color: var(--color-grey-dark-1);

	flex: 0 0 18%; // don't grow  don't shrink  have 18% width

	display: flex; // parent container
	flex-direction: column; // main axis is now Y-axis
	justify-content: space-between; // divide all space between children
}

.hotel-view {
	flex: 1; // grow as much as it can
}


.detail {
	display: flex; // parent container
	padding: 4.5rem;
	border-bottom: var(--line);
	background-color: var(--color-grey-light-1);
	color: var(--color-grey-dark-1);
	font-size: 1.4rem;

	@media only screen and (max-width: $bp-medium) {
		padding: 3rem;
	}

	@media only screen and (max-width: $bp-small) {
		flex-direction: column; // stack description and reviews one above other
	} 

	@media only screen and (max-width: $bp-phone) {
		padding: 1.5rem;
	}
}

.description {
	flex: 0 0 60%; // 60% width(flex-basis)
	background-color: #fff;
	margin-right: 4.5rem;
	box-shadow: var(--shadow-light);
	padding: 3rem;	

	@media only screen and (max-width: $bp-medium) {
		padding: 2rem;
		margin-right: 3rem;
	}

	@media only screen and (max-width: $bp-small) {
		margin-right: 0;
		margin-bottom: 3rem;
	}
}

.user-reviews {
	flex: 1; // grow fully, take entire available space
	display: flex; // parent: to align button in center
	flex-direction: column;
	align-items: center;

}