/*
flex-direction: row; // main axis direction
flex-wrap: wrap; // newline 
justify-content: flex-start; // aligns items along main axis
align-items: stretch; // aligns items along cross axis
align-content: stretch; // In case of multiple rows, how they're arranged on cross axis

flex: flex-grow flex-shrink flex-basis; // basis = width 

*/

/*- copy package.json file and run *sudo npm install**/




/**********************************************
- z-index always requires position to be defined

- Why SVGs over icon-fonts?
	- screen readers for blind people fail
	- hack to display icons
	- browsers fail more often
	- can be included in CSS, instead of HTML
	- spritesheet is useful as we need only 1 http request instead of as many as icons

- margin: auto; in FLEXBOX!!!

- New CSS properties: 
	currentColor
	mask
	Variables 
	::before element for animation
	:not(:last-child)
************************************************/
